<title>Home</title>
</head>

<body>
  {{>navigation}} {{>nonscript}}
  <script>
    // after document is ready, it should fetch a list of user profiles for downdrop nav

  </script>
  <div class="user-profile-container flex-center">
    <div class="user-profile-content-container">
      <div class="profile-list-container">
        <!-- for default user profile-->
        <div id="default-user-profile" class="user-profile-name-box page-title">


        </div>
        <hr>

      </div>
      <div class="btn flex-center">
        <a href="/addNewProfile">Add New User Profile</a>

      </div>
      <div class="btn flex-center">
        <a href="/viewProfiles">View All User Profiles</a>
      </div>
    </div>

  </div>
  <div id="home-content-container">
    <div id="home-content-title" class="home-title">
      Today
    </div>
    <div id="med-list-container">
      <a href="/viewPillDetail">
        <div class="med-item-box med-taken-done">
          <div class="med-item-check flex-center">
            <img class="checked-icon-img " src="/images/icons/checked-480.png" alt="">
          </div>
          <div class="med-item-icon flex-center">
            <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
          </div>
          <div class="med-item-name flex-center med-name">
            Aspirin
          </div>
          <div class="med-item-time flex-center med-time">
            10:00 AM
          </div>
        </div>
      </a>
      <a href="/viewPillDetail">
        <div class="med-item-box">
          <div class="med-item-icon flex-center">
            <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
          </div>
          <div class="med-item-name flex-center med-name">
            C Complex
          </div>
          <div class="med-item-time flex-center med-time">
            11:00 AM
          </div>
        </div>
      </a>
      <a href="/viewPillDetail">
        <div class="med-item-box">
          <div class="med-item-icon flex-center">
            <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
          </div>
          <div class="med-item-name flex-center med-name">
            D3-2000
          </div>
          <div class="med-item-time flex-center med-time">
            03:00 PM
          </div>
        </div>
      </a>
      <a href="/viewPillDetail">
        <div class="med-item-box">
          <div class="med-item-icon flex-center">
            <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
          </div>
          <div class="med-item-name flex-center med-name">
            K2 Plus D3
          </div>
          <div class="med-item-time flex-center med-time">
            05:00 PM
          </div>
        </div>
      </a>
      <a href="/viewPillDetail">
        <div class="med-item-box">
          <div class="med-item-icon flex-center">
            <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
          </div>
          <div class="med-item-name flex-center med-name">
            D3-2000
          </div>
          <div class="med-item-time flex-center med-time">
            03:00 PM
          </div>
        </div>
      </a>
      <a href="/viewPillDetail">
        <div class="med-item-box">
          <div class="med-item-icon flex-center">
            <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
          </div>
          <div class="med-item-name flex-center med-name">
            K2 Plus D3
          </div>
          <div class="med-item-time flex-center med-time">
            05:00 PM
          </div>
        </div>
      </a>



    </div>
    <div id="home-btns-container">
      <div id="view-all-btn" class="home-btn home-btns flex-center">
        <a href="/viewAllMed">View All</a></div>
      <div id="add-new-btn" class="home-btn home-btns flex-center">
        <a href="/addNewMed">Add New</a>
      </div>
    </div>
  </div>

  <div id="date-container">
    <div id="date-prev" class="flex-center date">
      April 14
    </div>
    <div id="date-today" class="flex-center date current-day">
      April 15
    </div>
    <div id="date-next" class="flex-center date">
      April 16
    </div>
  </div>

  </div>
  <script src="/js/home.js"></script>
