<title>Login & Sign Up</title>
</head>

<body>
   {{>nonscript}}
   <div class="login-signup-page-container flex-center">
     <div class="login-page-container">
       <div class="flex-center page-title">
         MED APP
       </div>
       <div class="login-input-box">
         <div class="box-title">
           Username
         </div>
         <input class="border-black" type="text" name="" value="">

       </div>
       <div class="login-input-box">
         <div class="box-title">
           Password
         </div>
         <input class="border-black" type="text" name="" value="">
       </div>
       <div class="btn flex-center login-btns-style">
         <a class="a-box flex-center" href="/home">Login</a>
       </div>
       <div class="login-hr-box">
         <div class="flex-hr">
          <hr>
         </div>
         <div class="flex-center">
           OR
         </div>
         <div class="flex-hr">
           <hr>
         </div>
       </div>

       <div class="sign-up-btn btn flex-center login-btns-style">
         Sign Up
       </div>
       <div class="btn flex-center login-btns-style">
         See Preview
       </div>


     </div>
     <div class="sign-up-page-container flex-center">
       <div class="sign-up-page-box">
         <div class="">
           <div class="box-title">
             Email
           </div>
           <input class="border-black sign-up-input-box" type="email" name="" value="">
         </div>
         <div class="">
           <div class="box-title">
             Username
           </div>
           <input class="border-black sign-up-input-box" type="text" name="" value="">
         </div>
         <div class="">
           <div class="box-title">
             Password
           </div>
           <input class="border-black sign-up-input-box" type="password" name="" value="">
         </div>
         <div class="">
           <div class="box-title">
             Confirm Password
           </div>
           <input class="border-black sign-up-input-box" type="password" name="" value="">
         </div>
         <div class="">
           <div class="box-title">
             Date of Birth
           </div>
           <input class="border-black sign-up-input-box" type="date" name="" value="" style="text-align-last: center;">
         </div>
       </div>

       <div id="sign-up-btns-container">
         <div id="sign-up-cancel-btn" class="btn flex-center border-right-black">
           Cancel
         </div>

         <div id="sign-up-create-btn" class="btn flex-center">
           <a class="a-box flex-center" href="/noUserProfile">Create</a>
         </div>

       </div>
     </div>
   </div>
