<title>Account Settings</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}
  <div class="view-account-info-container">
    <div class="view-account-info-email">
      <div class="box-title">
          Email
      </div>

      <div class="border-black view-account-info-text">
        john@example.com
      </div>
    </div>
    <div class="view-account-info-username">
      <div class="box-title">
          Username
      </div>

      <div class="border-black view-account-info-text">
        johndoe
      </div>
    </div>
    <div class="view-account-info-dob">
      <div class="box-title">
          Date of birth
      </div>

      <div class="border-black view-account-info-text">
        Jan 1, 1957
      </div>
    </div>

    <a href="/editAccountInfo">
      <div class="flex-center btn edit-account-info-btn">
        Edit Info
      </div>
    </a>

    <a href="/changePassword">
      <div class="flex-center btn edit-account-info-btn">
        Change Password
      </div>
    </a>



  </div>

</body>
