<title>Account Settings</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}
  <div class="view-account-info-container">

    <div class="view-account-info-email">
      <div class="box-title">
          Email
      </div>

      <div class="border-black view-account-info-text flex-center">
        {{email}}
      </div>
    </div>


    <div class="view-account-info-username">
      <div class="box-title">
          Username
      </div>

      <div class="border-black view-account-info-text flex-center">
        {{username}}
      </div>
    </div>

    <div class="view-account-info-dob">
      <div class="box-title">
          Account ID: {{id}}
      </div>
    </div>

    

    <a href="/editAccountInfo">
      <div class="flex-center btn edit-account-info-btn">
        Edit Info
      </div>
    </a>

    <a href="/changePassword">
      <div class="flex-center btn edit-account-info-btn">
        Change Password
      </div>
    </a>



  </div>

</body>
