<title>View History</title>
</head>

<body>
  {{>navigation}} {{>nonscript}}
  <div class="view-history-container">
    <div class="flex-center">
      <div class="pill-date-box border-black">
        <a class="flex-center gray border-right" href="/viewHistory">Pill</a>
        <a class="flex-center" href="/viewHistoryDate">Date</a>
      </div>
    </div>
    <div class="pill-date-box-bottom">
      <div class="pill-date-box-list">
        <a href="/viewPillHistory">
          <div class="pill-date-box-item">
            <div class="flex-center">
              <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
            </div>
            <div class="flex-center box-title">
              Pill name # 1
            </div>
          </div>
        </a>
        <div class="flex-center">
          <hr style="width:80%;">
        </div>
        <a href="/viewPillHistory">
          <div class="pill-date-box-item">
            <div class="flex-center">
              <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
            </div>
            <div class="flex-center box-title">
              Pill name # 1
            </div>
          </div>
        </a>
        <div class="flex-center">
          <hr style="width:80%;">
        </div>
        <a href="/viewPillHistory">
          <div class="pill-date-box-item">
            <div class="flex-center">
              <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
            </div>
            <div class="flex-center box-title">
              Pill name # 1
            </div>
          </div>
        </a>
        <div class="flex-center">
          <hr style="width:80%;">
        </div>
        <a href="/viewPillHistory">
          <div class="pill-date-box-item">
            <div class="flex-center">
              <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
            </div>
            <div class="flex-center box-title">
              Pill name # 1
            </div>
          </div>
        </a>
        <div class="flex-center">
          <hr style="width:80%;">
        </div>
        <a href="/viewPillHistory">
          <div class="pill-date-box-item">
            <div class="flex-center">
              <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
            </div>
            <div class="flex-center box-title">
              Pill name # 1
            </div>
          </div>
        </a>
        <div class="flex-center">
          <hr style="width:80%;">
        </div>
        <a href="/viewPillHistory">
          <div class="pill-date-box-item">
            <div class="flex-center">
              <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
            </div>
            <div class="flex-center box-title">
              Pill name # 1
            </div>
          </div>
        </a>
        <div class="flex-center">
          <hr style="width:80%;">
        </div><a href="/viewPillHistory">
          <div class="pill-date-box-item">
            <div class="flex-center">
              <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
            </div>
            <div class="flex-center box-title">
              Pill name # 1
            </div>
          </div>
        </a>
        <div class="flex-center">
          <hr style="width:80%;">
        </div><a href="/viewPillHistory">
          <div class="pill-date-box-item">
            <div class="flex-center">
              <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
            </div>
            <div class="flex-center box-title">
              Pill name # 1
            </div>
          </div>
        </a>
        <div class="flex-center">
          <hr style="width:80%;">
        </div><a href="/viewPillHistory">
          <div class="pill-date-box-item">
            <div class="flex-center">
              <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
            </div>
            <div class="flex-center box-title">
              Pill name # 1
            </div>
          </div>
        </a>
        <div class="flex-center">
          <hr style="width:80%;">
        </div><a href="/viewPillHistory">
          <div class="pill-date-box-item">
            <div class="flex-center">
              <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
            </div>
            <div class="flex-center box-title">
              Pill name # 1
            </div>
          </div>
        </a>
        <div class="flex-center">
          <hr style="width:80%;">
        </div><a href="/viewPillHistory">
          <div class="pill-date-box-item">
            <div class="flex-center">
              <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
            </div>
            <div class="flex-center box-title">
              Pill name # 1
            </div>
          </div>
        </a>
        <div class="flex-center">
          <hr style="width:80%;">
        </div><a href="/viewPillHistory">
          <div class="pill-date-box-item">
            <div class="flex-center">
              <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
            </div>
            <div class="flex-center box-title">
              Pill name # 1
            </div>
          </div>
        </a>
        <div class="flex-center">
          <hr style="width:80%;">
        </div><a href="/viewPillHistory">
          <div class="pill-date-box-item">
            <div class="flex-center">
              <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
            </div>
            <div class="flex-center box-title">
              Pill name # 1
            </div>
          </div>
        </a>
        <div class="flex-center">
          <hr style="width:80%;">
        </div><a href="/viewPillHistory">
          <div class="pill-date-box-item">
            <div class="flex-center">
              <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
            </div>
            <div class="flex-center box-title">
              Pill name # 1
            </div>
          </div>
        </a>
        <div class="flex-center">
          <hr style="width:80%;">
        </div>

      </div>
      <div class="pill-date-box-list-index">
        <div class="index-style">
          <div class="index-a">
            A
          </div>
          <div class="index-b">
            B
          </div>
          <div class="index-c">
            C
          </div>
          <div class="index-d">
            D
          </div>
          <div class="index-e">
            E
          </div>
          <div class="index-f">
            F
          </div>
          <div class="index-g">
            G
          </div>
          <div class="index-h">
            H
          </div>
          <div class="index-i">
            I
          </div>
          <div class="index-j">
            J
          </div>
          <div class="index-k">
            K
          </div>
          <div class="index-l">
            L
          </div>
          <div class="index-l">
            M
          </div>
          <div class="index-l">
            N
          </div>
          <div class="index-l">
            O
          </div>
          <div class="index-l">
            P
          </div>
          <div class="index-l">
            Q
          </div>
          <div class="index-l">
            R
          </div>
          <div class="index-l">
            S
          </div>
          <div class="index-l">
            T
          </div>
          <div class="index-l">
            U
          </div>
          <div class="index-l">
            V
          </div>
          <div class="index-l">
            W
          </div>
          <div class="index-l">
            X
          </div>
          <div class="index-l">
            Y
          </div>
          <div class="index-l">
            Z
          </div>
        </div>

      </div>
    </div>
  </div>

</body>
