<title>View History Date</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}

  <div class="view-history-date-container">
    <div class="page-title flex-center">
      April 15, 2018
    </div>
    <div class="view-history-date-bottom-box">
      <div class="med-item-box">
        <div class="med-item-icon flex-center">
          <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
        </div>
        <div class="med-item-name flex-center med-name">
          C Complex
        </div>
        <div class="med-item-time flex-center med-time">
          10:00 AM
        </div>
      </div>
      <div class="med-item-box">
        <div class="med-item-icon flex-center">
          <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
        </div>
        <div class="med-item-name flex-center med-name">
          C Complex
        </div>
        <div class="med-item-time flex-center med-time">
          11:00 AM
        </div>
      </div>
      <div class="med-item-box">
        <div class="med-item-icon flex-center">
          <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
        </div>
        <div class="med-item-name flex-center med-name">
          C Complex
        </div>
        <div class="med-item-time flex-center med-time">
          01:00 PM
        </div>
      </div>
      <div class="med-item-box">
        <div class="med-item-icon flex-center">
          <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
        </div>
        <div class="med-item-name flex-center med-name">
          C Complex
        </div>
        <div class="med-item-time flex-center med-time">
          03:00 PM
        </div>
      </div>
      <div class="med-item-box">
        <div class="med-item-icon flex-center">
          <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
        </div>
        <div class="med-item-name flex-center med-name">
          C Complex
        </div>
        <div class="med-item-time flex-center med-time">
          03:00 PM
        </div>
      </div>
      <div class="med-item-box">
        <div class="med-item-icon flex-center">
          <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
        </div>
        <div class="med-item-name flex-center med-name">
          C Complex
        </div>
        <div class="med-item-time flex-center med-time">
          03:00 PM
        </div>
      </div>
      <div class="med-item-box">
        <div class="med-item-icon flex-center">
          <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
        </div>
        <div class="med-item-name flex-center med-name">
          C Complex
        </div>
        <div class="med-item-time flex-center med-time">
          03:00 PM
        </div>
      </div>
      <div class="med-item-box">
        <div class="med-item-icon flex-center">
          <img class="pill-icon-img" src="/images/icons/pill.svg" alt="">
        </div>
        <div class="med-item-name flex-center med-name">
          C Complex
        </div>
        <div class="med-item-time flex-center med-time">
          03:00 PM
        </div>
      </div>

    </div>
    <div class="view-history-date-arrow-nav">
      <div class="flex-center box-title">
        &lt; April 14
      </div>
      <div class="">

      </div>
      <div class="flex-center box-title">
          April 16 &gt; 
      </div>
    </div>

  </div>



</body>
