<title>View Current Medications</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}

  <!-- make POST request if user access page with GET request (via url) -->
  {{>post}}

  <div class="view-all-med-container">
    <div class="flex-center box-title">
      <p>April 15, 2018</p>

    </div>
    <div class="view-all-med-bottom-box">
      <div class="view-all-med-list">

        {{#each medicineList}}
          <a onclick="post('/viewPillDetail/{{id}}')">
            <div class="med-item-box-all border-black">
              <div class="med-item-icon flex-center">
                <img class="pill-icon-img" src="/images/icons/pills/{{image}}" onerror="this.src='/images/icons/pill.svg'" />
              </div>
              <div class="med-item-name flex-center med-name">
                {{medicinename}}
              </div>
            </div>
          </a>
        {{/each}}

      </div>
      <div class="flex-center">
        <div class="index-style">
          <div class="index-a">
            A
          </div>
          <div class="index-b">
            B
          </div>
          <div class="index-c">
            C
          </div>
          <div class="index-d">
            D
          </div>
          <div class="index-e">
            E
          </div>
          <div class="index-f">
            F
          </div>
          <div class="index-g">
            G
          </div>
          <div class="index-h">
            H
          </div>
          <div class="index-i">
            I
          </div>
          <div class="index-j">
            J
          </div>
          <div class="index-k">
            K
          </div>
          <div class="index-l">
            L
          </div>
          <div class="index-l">
            M
          </div>
          <div class="index-l">
            N
          </div>
          <div class="index-l">
            O
          </div>
          <div class="index-l">
            P
          </div>
          <div class="index-l">
            Q
          </div>
          <div class="index-l">
            R
          </div>
          <div class="index-l">
            S
          </div>
          <div class="index-l">
            T
          </div>
          <div class="index-l">
            U
          </div>
          <div class="index-l">
            V
          </div>
          <div class="index-l">
            W
          </div>
          <div class="index-l">
            X
          </div>
          <div class="index-l">
            Y
          </div>
          <div class="index-l">
            Z
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div id="btns-container">
        <div class="btn flex-center border-right-black">
          Edit
        </div>
        <div class="btn flex-center">
          <a href="/addNewMed/{{profile_id}}">Add New</a>
        </div>
      </div>
    </div>
  </div>





<script src="/js/viewAllMed.js"></script>
</body>
