<title>View Medication History</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}
  <div class="view-pill-history-container">
    <div class="">
      <div class="flex-center">
        <img class="view-pill-icon-img" src="/images/icons/pill.svg" alt="">
      </div>
      <div class="flex-center">
        <p>Pill name</p>
      </div>
    </div>
    <div class="view-pill-history-box-list">
      <div class="view-pill-history-box border-black">
        <div class="view-pill-history-info">
          <div class="flex-center">
            100 mg
          </div>
          <div class="flex-center">
            1 x / day
          </div>
        </div>
        <div class="view-pill-history-start flex-center">
          Start Date : 03/10/2018
        </div>
        <div class="view-pill-history-end flex-center">
          End Date : 03/20/2018
        </div>
      </div>
      <div class="view-pill-history-box border-black">
        <div class="view-pill-history-info">
          <div class="flex-center">
            160 mg
          </div>
          <div class="flex-center">
            2 x / day
          </div>
        </div>
        <div class="view-pill-history-start flex-center">
          Start Date : 04/01/2018
        </div>
        <div class="view-pill-history-end flex-center">
          End Date : 04/18/2018
        </div>
      </div>
      <div class="view-pill-history-box border-black">
        <div class="view-pill-history-info">
          <div class="flex-center">
            160 mg
          </div>
          <div class="flex-center">
            2 x / day
          </div>
        </div>
        <div class="view-pill-history-start flex-center">
          Start Date : 04/01/2018
        </div>
        <div class="view-pill-history-end flex-center">
          End Date : 04/18/2018
        </div>
      </div>
      <div class="view-pill-history-box border-black">
        <div class="view-pill-history-info">
          <div class="flex-center">
            160 mg
          </div>
          <div class="flex-center">
            2 x / day
          </div>
        </div>
        <div class="view-pill-history-start flex-center">
          Start Date : 04/01/2018
        </div>
        <div class="view-pill-history-end flex-center">
          End Date : 04/18/2018
        </div>
      </div>
      <div class="view-pill-history-box border-black">
        <div class="view-pill-history-info">
          <div class="flex-center">
            160 mg
          </div>
          <div class="flex-center">
            2 x / day
          </div>
        </div>
        <div class="view-pill-history-start flex-center">
          Start Date : 04/01/2018
        </div>
        <div class="view-pill-history-end flex-center">
          End Date : 04/18/2018
        </div>
      </div>
      <div class="view-pill-history-box border-black">
        <div class="view-pill-history-info">
          <div class="flex-center">
            160 mg
          </div>
          <div class="flex-center">
            2 x / day
          </div>
        </div>
        <div class="view-pill-history-start flex-center">
          Start Date : 04/01/2018
        </div>
        <div class="view-pill-history-end flex-center">
          End Date : 04/18/2018
        </div>
      </div>
      <div class="view-pill-history-box border-black">
        <div class="view-pill-history-info">
          <div class="flex-center">
            160 mg
          </div>
          <div class="flex-center">
            2 x / day
          </div>
        </div>
        <div class="view-pill-history-start flex-center">
          Start Date : 04/01/2018
        </div>
        <div class="view-pill-history-end flex-center">
          End Date : 04/18/2018
        </div>
      </div>
      <div class="view-pill-history-box border-black">
        <div class="view-pill-history-info">
          <div class="flex-center">
            160 mg
          </div>
          <div class="flex-center">
            2 x / day
          </div>
        </div>
        <div class="view-pill-history-start flex-center">
          Start Date : 04/01/2018
        </div>
        <div class="view-pill-history-end flex-center">
          End Date : 04/18/2018
        </div>
      </div>

    </div>



  </div>

</body>
