<nav class="nav-container">
  {{#if backbuttonShow}}
    <a class="nav-btn-container">
      <img  src="images/icons/back.svg" alt="" onclick="backtopage();">
    </a>
    <div id="page-title-nav" class="page-title flex-center">
      {{pageTitle}}
    </div>
  {{else}}


<div id="menuToggle" class="flex-center">
  <!--
  A fake / hidden checkbox is used as click reciever,
  so you can use the :checked selector on it.
  -->
  <input type="checkbox" />

  <!--
  Some spans to act as a hamburger.
  -->
  <span></span>
  <span></span>
  <span></span>

  <ul id="menu">
    <a href="/"><li>Home</li></a>
    <a href="/viewHistory"><li>View History</li></a>
    <a href="/viewProfiles"><li>Manage Profiles</li></a>
    <a href="/settings"><li>Settings</li></a>
    <a href="/help"><li>Help</li></a>
  </ul>
</div>
<div class="page-title flex-center">
  {{pageTitle}}
</div>
{{#if isHomePage}}
<div id="dropDownToggle" class="flex-center">

  <svg class="tri-svg" height="16" width="16" viewBox="0 0 16 16">
  <polygon fill="none" stroke="#FF8A65" stroke-width="3" points="8,1 1,16 16,16"/><polygon>
  </svg>

</div>
{{/if}}
  {{/if}}
</nav>
