<!-- Page for users to add information and create new profile -->

<title>Add a New Profile</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}
  <div class="add-new-profile-container">
    <!-- Data fields for new profile -->
    <div class="add-new-profile-name-box profile-image-box">
      <div id="add-new-profile-image" class="border-black flex-center">
        <img class="profile-image" src="/images/icons/user.svg" alt="">
      </div>
      <div id="add-new-profile-first" class="flex-center">
        Firstname
        <input id="firstname" type="text" class="border-black add-new-profile-input"/>
      </div>
      <div id="add-new-profile-last" class="flex-center">
        Lastname
        <input id="lastname" type="text" class="border-black add-new-profile-input"/>
      </div>
    </div>
    <div class="">
      <div class="box-title">
        Date of Birth
      </div>
      <div class="box-content flex-center">
        <input id="dob" type="date"/>
      </div>
    </div>
    <div class="">
      <div class="box-title">
        Gender
      </div>
      <div id="gender-box" class="box-content">
        <div class="gender-box">
          <input type="checkbox" id="gender-male"/> Male
        </div>
        <div class="gender-box">
          <input type="checkbox" id="gender-female"/> Female
        </div>

        <div class="gender-box">
          <input id="gender-other" class="border-black" type="text">
        </div>
      </div>
    </div>

  </div>
  <!-- Cancel or create new profile -->
  <div id="btns-container" class="add-new-profile-btn">
    <div class="btn flex-center border-right-black" onclick="backtopage();">
      Cancel
    </div>
    <div class="btn flex-center">
      <a id="createProfile" class="a-box flex-center" onclick="post('/viewProfiles')">Save</a>
    </div>
  </div>





  <script src="/js/addNewProfile.js"></script>
  {{>script}}
</body>
