<title>Change Password</title>
</head>

<body>
  {{>navigation}} {{>nonscript}}
  <div class="view-account-password-container">


    <!-- Current/old password -->
    <div class="view-account-password-old">
      <div class="box-title"> Current Password </div>

      <div class="box-content flex-center">
        <input id="currentPassword" class="edit-account-inputs" type="password" placeholder="Current Password" >
      </div>
    </div>

    <!-- new password -->
    <div class="view-account-password-new">
      <div class="box-title"> New Password </div>

      <div class="box-content flex-center">
        <input id="newPassword" class="edit-account-inputs" type="password" placeholder="New Password" >
      </div>
    </div>

    <!-- confirm password -->
    <div class="view-account-password-confirm">
      <div class="box-title"> Confirm Password </div>

      <div class="box-content flex-center">
        <input id="confirmPassword" class="edit-account-inputs" type="password" placeholder="Confirm Password" >
      </div>
    </div>

    <div id="btns-container" class="change-password-btns">
      <div class="btn flex-center border-right-black" onclick="post('/settings')">
        Cancel
      </div>
      <div class="btn flex-center border-right-black" onclick="save();">
        Save
      </div>
    </div>
  </div>

<script src="/js/changePassword.js"></script>
{{>script}}
