<title>Help</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}
  <div class="container">
   <h2>FAQ</h2>
   <div class="panel-group" id="accordion">
     <div class="panel panel-default">
       <div class="panel-heading">
         <h4 class="panel-title">
           <a data-toggle="collapse" data-parent="#accordion" href="#ques1">
             How do I turn off notifications for a medication I want to end early?</a>
         </h4>
       </div>
       <div id="ques1" class="panel-collapse collapse">
         <div class="panel-body">Go to the Medication Details >> Edit >> End Date
           and fill out the new date you want to finish the medication on.
           Then, click "Save" to save changes.</div>
       </div>
     </div>
     <div class="panel panel-default">
       <div class="panel-heading">
         <h4 class="panel-title">
           <a data-toggle="collapse" data-parent="#accordion" href="#ques2">
             How do I view multiple users' medications at once?</a>
         </h4>
       </div>
       <div id="ques2" class="panel-collapse collapse">
         <div class="panel-body">Go to the homepage and click the top right corner
           where the	dropdown arrow is located. Check the user profiles you
           would like to view at the same time, and close the dropdown menu to
           see the updated display.</div>
       </div>
     </div>
     <div class="panel panel-default">
       <div class="panel-heading">
         <h4 class="panel-title">
           <a data-toggle="collapse" data-parent="#accordion" href="#ques3">
             How do I change my default user?</a>
         </h4>
       </div>
       <div id="ques3" class="panel-collapse collapse">
         <div class="panel-body">Go to Manage Profiles >> Click on the user profile
         you want to set as your default >> Edit >> Select the "Set as default" option
         and save.</div>
       </div>
     </div>
   </div>
 </div>

</body>
