<title>History</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}

  <div class="view-profile-container">
      
    <div class="flex-center">
      <div class="pill-date-box border-black">
        <a class="flex-center gray border-right" href="/viewHistory">Pill</a>
        <a class="flex-center" href="/viewHistoryDate">Date</a>
      </div>
    </div>


    <!-- make POST request if user access page with GET request (via url) -->
    {{>post}}
      


      
     <div class="pill-date-box-bottom-2">
      <div class="box-title flex-center">
        <div class="pill-date-item-march border-black">
          March - 2018
        </div>
        <div class="pill-date-item-close pill-date-item-cal-march">

          <div class="view-history-date-month-container">
            <a href="/viewHistoryDateDetail">
              <div class="pill-day-box border-black">
                1
              </div>
            </a>
            <a href="/viewHistoryDateDetail">
              <div class="pill-day-box border-black">
                2
              </div>
            </a>
            <a href="/viewHistoryDateDetail">
              <div class="pill-day-box border-black">
                3
              </div>
            </a>
            <a href="/viewHistoryDateDetail">
              <div class="pill-day-box border-black">
                4
              </div>
            </a>
            <a href="/viewHistoryDateDetail">
              <div class="pill-day-box border-black">
                5
              </div>
            </a>
            <a href="/viewHistoryDateDetail">
              <div class="pill-day-box border-black">
                6
              </div>
            </a>
            <a href="/viewHistoryDateDetail">
              <div class="pill-day-box border-black">
                7
              </div>
            </a>
            <a href="/viewHistoryDateDetail">
              <div class="pill-day-box border-black">
                8
              </div>
            </a>
            <a href="/viewHistoryDateDetail">
              <div class="pill-day-box border-black">
                9
              </div>
            </a>

          </div>
        </div>
        <div class="pill-date-item border-black gray">
          April - 2018
        </div>
        <div class="pill-date-item-shown pill-date-item-cal">

          <div class="view-history-date-month-container">
            <a href="/viewHistoryDateDetail">
              <div class="pill-day-box border-black">
                1
              </div>
            </a>
            <a href="/viewHistoryDateDetail">
              <div class="pill-day-box border-black">
                2
              </div>
            </a>
            <a href="/viewHistoryDateDetail">
              <div class="pill-day-box border-black">
                3
              </div>
            </a>
            <a href="/viewHistoryDateDetail">
              <div class="pill-day-box border-black">
                4
              </div>
            </a>
            <a href="/viewHistoryDateDetail">
              <div class="pill-day-box border-black">
                5
              </div>
            </a>
            <a href="/viewHistoryDateDetail">
              <div class="pill-day-box border-black">
                6
              </div>
            </a>
            <a href="/viewHistoryDateDetail">
              <div class="pill-day-box border-black">
                7
              </div>
            </a>
            <a href="/viewHistoryDateDetail">
              <div class="pill-day-box border-black">
                8
              </div>
            </a>
            <a href="/viewHistoryDateDetail">
              <div class="pill-day-box border-black">
                9
              </div>
            </a>

          </div>
        </div>
      </div>

    </div>



      
    

    
  </div>

{{>script}}

