<title>Change Password</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}
  <div class="">
    <div class="box-title">
      Old Password
    </div>
    <div class="box-content flex-center">
      <input type="text"/>
    </div>
  </div>
  <div class="">
    <div class="box-title">
      New Password
    </div>
    <div class="box-content flex-center">
      <input type="text"/>
    </div>
  </div>
  <div class="">
    <div class="box-title">
      Confirm New Password
    </div>
    <div class="box-content flex-center">
      <input type="text"/>
    </div>
  </div>
  <div id="btns-container" class="change-password-btns">
    <div class="btn flex-center border-right-black" onclick="backtopage();">
      Cancel
    </div>
    <div class="btn flex-center border-right-black" onclick="backtopage();">
      Save
    </div>
  </div>

</body>
