<title>Edit Account Info</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}
  <div class="">
    <div class="box-title">
      Email
    </div>
    <div class="box-content flex-center">
      <input type="text"/>
    </div>
  </div>
  <div class="">
    <div class="box-title">
      Username
    </div>
    <div class="box-content flex-center">
      <input type="text"/>
    </div>
  </div>
  <div class="">
    <div class="box-title">
      Date of Birth
    </div>
    <div class="box-content flex-center">
      <input type="date"/>
    </div>
  </div>
  <div id="btns-container" class="edit-account-info-btns">
    <div class="btn flex-center border-right-black" onclick="backtopage();">
      Cancel
    </div>
    <div class="btn flex-center border-right-black" onclick="backtopage();">
      Save
    </div>
  </div>

</body>
