<title>No User Profile</title>
</head>

<body>
   {{>nonscript}}
   <div class="no-user-profile-container flex-center">
     <div class="border-black no-user-profile-box">
       <div class="box-title flex-center">
         You have no user profiles.
       </div>
       <div class="box-title flex-center">
          Add a new user profile below.
       </div>
       <div class="box-title flex-center btn">
         <a class="a-box flex-center" href="/addNewProfile">Add New User Profile</a>
       </div>
     </div>
   </div>
