<title>Manage Profiles</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}
  <p>Default User</p>
  <p>user profile # 1</p>
  <hr>
  <p>user profile # 2</p>
  <p>user profile # 3</p>
  <p>user profile # 4</p>

  <div id="btns-container">
    <div class="btn flex-center border-right-black">
      Edit
    </div>
    <a href="/addNewProfile">
    <div class="btn flex-center">
      Add
    </div>
    </a>
  </div>
</body>
