/*Followed by the rule set from https://smacss.com*/
/*blue color :  #78D5F2 */
/*************1. Base Rule *************/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

a:visited {
  color:inherit;
}

/*************2. Layout Rule *************/

html, body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

nav {
  width: 100vw;
  height: 10vh;
  background-color: gray;
}

#home-content-container {
  margin: 2.5vh 5vw;
  position: relative;
  height: 75vh;
}

#add-new-med-content-container {
  margin: 2.5vh 5vw;
  position: relative;
  height: auto;
}

#date-container {
  position: absolute;
  bottom : 0;
  background-color: gray;
  height: 10vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "prev today next";
}

#home-btns-container {
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-btns {
  width: 43vw;
  height: 10vh;
}
#home-content-title {
  height: 5vh;
}

#med-list-container {
  height: 57vh;
  overflow-y: scroll;
}

.med-item-box {
  margin: 1vh;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "icon name time";
  background-color: white;
}

.med-item-box-all, .view-profile-box{
  margin: 1vh;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "icon name";
}
.pill-icon-img{
  width: 7vh;
}



.view-pill-icon-img{
  width: 15vh;
}

.checked-icon-img{
  width: 7vh;
}

.nav-btn-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "btn pageTitle dropDown";
  margin: auto;
  position: relative;
  z-index: 3;
}

.add-new-med-box {
  margin-bottom: 3vh;
}

.med-dosage-container {
  width: 95%;
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "input dropDown";
}

.med-frequency-container, .med-duration-container, .med-shape-container, .med-note-container{
  width: 95%;
}

.med-frequency-option {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.med-duration-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.med-shape-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}
.med-shape {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.med-color {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr;
}

.med-shape-container {
  height: 100%;
}

#btns-container{
  height: 10vh;
  background-color: gray;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.view-history-date-month-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 53vh;
  overflow-y: scroll;
}

.pill-day-box {
  width: 29vw;
  height: 29vw;
  margin-top: 1vh;
}

.view-pill-detail-container{
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3.5fr 1.5fr 1.5fr 1fr 1fr;
  grid-row-gap: 1vh;
}
.view-pill-history-btn{
  height: 10vh;
}

.view-pill-detail-btns , .add-new-profile-btn{
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.view-pill-detail-direction, .view-pill-detail-note{
  margin: 0 5%;
}
.view-pill-detail-icon-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;

}

.add-new-profile-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 0.5fr 1.5fr 0.5fr;
  height: 75vh;
  margin: 2.5vh 5vw;
  grid-row-gap: 5vh;
}
.add-new-profile-name-box{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "image first"
    "image last";
  height: 15vh;
}
#add-new-profile-first{
  grid-area: first;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  margin: 0 1vh;
}
#add-new-profile-last {
    grid-area: last;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    margin: 0 1vh;
}

#add-new-profile-image {
  grid-area: image;
}


.gender-box{
  margin: 1vh 1vh;
}

.login-signup-page-container{
  position: relative;
  height: 100vh;


}

.login-page-container{
  position: absolute;
  height: 100vh;
  width: 90vw;

  top: 0;
  z-index: 1;
}
.sign-up-page-container{
  position: absolute;
  height: 100vh;
  background-color: white;
  z-index: 2;
  top: 0;
  width: 100vw;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#sign-up-btns-container{
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 10vh;
}

.login-page-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 0.5fr 0.5fr 1fr 0.2fr 1fr 1fr;
  height: 100vh;
  grid-row-gap: 5vh;
}

.login-input-box{
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
}
.login-hr-box{
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: 1fr;
}
.sign-up-page-box{
  width: 90vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.sign-up-input-box{
  width: 100%;
  height: 5vh;
}
.no-user-profile-container{
  width: 100vw;
  height: 100vh;
}
.no-user-profile-box{
  width: 80vw;
  height: 30vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.view-history-container{
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 8.5fr;
  height: 90vh;
}
.pill-date-box{
  display: grid;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: 1fr;
  width: 30vw;
  height: 5vh;
}

.pill-date-box-bottom{
  display: grid;
  grid-template-columns:  8.5fr 1.5fr;
  grid-template-rows: 1fr;
  position: relative;
  height: 77vh;
}

.pill-date-box-bottom-2 {
  height: 77vh;
  overflow-y: scroll;
}
.pill-date-box-list{
  overflow-y: scroll;
}
.pill-date-box-item{
  display: grid;
  grid-template-columns:  2fr 3fr;
  grid-template-rows: 1fr;
}

.pill-date-box-list-index{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  position: relative;
}

/* need to refactor*/
.pill-date-item{
  width: 90vw;
  margin-bottom: 1vh;
}

.pill-date-item-march{
  width: 90vw;
  margin-bottom: 1vh;
}

.view-history-date-container, .view-all-med-container, .view-profile-container{
  height: 90vh;
  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: 1fr 8fr 1fr;
}

.view-history-date-arrow-nav {
  display: grid;
  grid-template-columns:  3fr 4fr 3fr;
  grid-template-rows: 1fr;
}
.view-history-date-bottom-box{
  overflow-y: scroll;
}
.view-pill-history-container{
  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: 2fr 8fr;
  height: 90vh;
  grid-row-gap:5vh;
}

.view-pill-history-box{
  display: grid;
  grid-template-columns:  1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "info start"
  "info end";
  width: 90vw;
  margin: auto;
  margin-bottom: 5vh;

}
.view-pill-history-box-list{
  position: relative;
  overflow-y: scroll;
}
.view-all-med-bottom-box{
  display: grid;
  grid-template-columns:  8.5fr 1.5fr;
  grid-template-rows: 1fr;
  position: relative;
}

.view-all-med-list {
  position: relative;
  overflow-y: scroll;
  height: 70vh;
}
.view-profile-bottom-box{
  display: grid;
  grid-template-columns:  8.5fr 1.5fr;
  grid-template-rows: 1fr;
  position: relative;
  overflow-y: scroll;

}
.view-profile-box-list{
  overflow-y: scroll;
}

.add-new-profile-input {
  height: 3vh;
}

.view-account-info-container{
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2.15fr 2.15fr 2.15fr 1fr 1fr;
  grid-row-gap: 1vh;
}

.view-account-password-container{
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2.5fr 2.5fr 2.5fr 1fr;
  grid-row-gap: 1vh;
}

/*************3. Module Rule *************/
.view-pill-history-info{
  grid-area:info;
}
.view-pill-history-end{
  grid-area:end;
}
.view-pill-history-start{
  grid-area:start;
}
.profile-image-box{
  margin-top: 5vh;
}

.profile-image{
  height: 90%;
}

#view-all-btn {
  grid-area: viewAll;
}

#add-new-btn {
  grid-area: addNew;
}

.med-item-icon {
  grid-area: icon;
}

.med-item-name {
  grid-area: name;
}

.med-item-time {
  grid-area: time;
}

#date-prev {
  grid-area: prev;
}

#date-today {
  grid-area: today;
}

#date-next {
  grid-area: next;
}

.med-name-input {
  width: 95%;
  height: 3vh;
  border: 1px solid black;
}



.med-frequency-input {
  width: 20%;
}

.med-dosage-input , .med-frequency-input{
  border: 1px solid black;
  height: 3vh;
}

#divider-hr{
  margin: 1vh 0;
}

.box-content-frequency{
  border: 1px solid black;
  height: 10vh;
}

.box-content-duration {
  border: 1px solid black;
  height: 15vh;
}

.box-content-shape, .box-content-note {
  border: 1px solid black;
  height: 15vh;
}

.med-frequency-every-input{
  border: 1px solid black;
  width: 2.5vh;
  height: 3vh;
}

.duration-input {
  width: 20vh;
  text-align-last: center;
}
.color{
  width: 3vh;
  height: 3vh;
  border: 1px solid black;
  border-radius: 1.5vh;
}

/* navigation */

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 4vh;
  left: 3vh;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 100vw;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/* */
.user-profile-container {
  width: 100vw;
  height: 90vh;
  background-color: #cdcdcd;
  position:absolute;
  top: -80vh;
  left: 0;
  z-index: 1;

}

.user-profile-content-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr 1fr 1fr;
  height: 90vh;
  width: 90%;
  grid-row-gap: 1vh;
}

#dropDownToggle {
  -webkit-user-select: none;
  user-select: none;
}

.tri-svg {
  position: absolute;
}
.profile-list-container{
  overflow-y:scroll;
}
.user-profile-name-box{
  margin-top: 1vh;
  position: relative;
  text-align: center;
}

.med-note-text{
  width: 100%;
  height: 10vh;
}

.view-pill-detail-text {
  height: 10vh;
}

.profile-check-box{
  position: absolute;
  top: 0;
  left: 5vh;
}

#gender-box{
  height: 15vh;
}

.profile-image-view {
  height: 10vh;
}

.edit-account-info-btn{
  height: 10vh;
}

.edit-account-info-btns, .change-password-btns{
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.view-account-info-email, .view-account-info-username, .view-account-info-dob, .view-account-password-old, .view-account-password-new, .view-account-password-confirm{
  margin: 0 5%;
}

.view-account-info-text {
  height: 10vh;
}

.view-account-info-email{
  margin-top: 2vh;
}

.view-account-password-old, .view-account-password-new, .view-account-password-confirm{
  margin-top: auto;
  margin-bottom: auto;
}
/*************4. State Rule *************/
.med-taken-done {
  grid-template-columns: 1fr 1fr 2fr 2fr;
  grid-template-areas:
    "check icon name time";
}

.med-taken-done .med-time{
  font-size: 1.5rem;
}

.current-day {
  border: 1px solid red;
}

.down-nav-clicked {
  transform: rotate(-180deg);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.user-profile-container-down {
  top: 10vh;
  transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}




/*************5. Theme Rule *************/
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-hr{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.home-btn , .btn{
  background-color: gray;
  font-size: 2rem;

}

.home-title {
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  font-size: 2rem;
}

.med-name {
  font-size: 1.5rem;
}

.med-time {
  font-size: 1.8rem;
}

.date {
  font-size: 2rem;
}

.page-title {
  font-size: 1.5em;
  text-transform: capitalize;
}
.box-content{
  border: 1px solid black;
  height: 5vh;
}

.box-title{
  font-size: 1.5rem;
  text-transform: capitalize;
}
.amount-select{
  border: 1px solid black;
  text-align-last:center;
  height: 3vh;
  margin-left: 1vh;
}
.border-black {
  border: 1px solid black;
}

.border-right-black {
  border-right: 1px solid black;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.black {
  background-color: black;
}

.gray {
  background-color: gray;
}

.border-circle{
  border: 1px solid black;
  border-radius: 50%;
}

.login-btns-style {
  height: 7vh;
}
.a-box{
  width: 100%;
  height: 100%;
}
.index-style{
  font-size: 0.9rem;
}

.edit-account-inputs{
  width: 95%;
  height: 100%;
}
.input-margin-left{
  padding-left: 1vh;
}

.pill-date-item-close, .saveProfile-close {
  display: none;
}
.pill-date-item-shown {
  display: block;
  width: 90vw;
  overflow-y: scroll;
  height: 53vh;
  margin-bottom: 5vh;
}
