<title>View History</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}
  <p><a href="/viewHistory">Pill</a></p>
  <p><a href="/viewHistoryDate">Date</a></p>
  <ol>
    <li><a class="gray" href="/viewPillHistory">Pill name # 1</a></li>
    <li><a class="gray" href="/viewPillHistory">Pill name # 2</a></li>
    <li><a class="gray" href="/viewPillHistory">Pill name # 3</a></li>
  </ol>

</body>
