<title>View Medication History</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}
  <p>Pill name # 1</p>
  <div class="">
    100 mg / 1 x / day
  </div>
  <div class="">
    Start Date : 03/10/2018
  </div>
  <div class="">
    End Date : 03/20/2018
  </div>
  <div class="">
    160 mg / 2 x / day
  </div>
  <div class="">
    Start Date : 04/01/2018
  </div>
  <div class="">
    End Date : 04/18/2018
  </div>
</body>
