<title>View History Date</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}
  <p><a href="/viewHistory">Pill</a></p>
  <p><a href="/viewHistoryDate">Date</a></p>

  <div class="">
    March - 2018
  </div>
  <div class="">
    April - 2018
    <div class="view-history-date-month-container">
      <a href="/viewHistoryDateDetail">
        <div class="pill-day-box border-black">
          1
        </div>
      </a>
      <a href="/viewHistoryDateDetail">
        <div class="pill-day-box border-black">
          2
        </div>
      </a>
      <a href="/viewHistoryDateDetail">
        <div class="pill-day-box border-black">
          3
        </div>
      </a>
      <a href="/viewHistoryDateDetail">
        <div class="pill-day-box border-black">
          4
        </div>
      </a>
      <a href="/viewHistoryDateDetail">
        <div class="pill-day-box border-black">
          5
        </div>
      </a>
      <a href="/viewHistoryDateDetail">
        <div class="pill-day-box border-black">
          6
        </div>
      </a>
      <a href="/viewHistoryDateDetail">
        <div class="pill-day-box border-black">
          7
        </div>
      </a>
      <a href="/viewHistoryDateDetail">
        <div class="pill-day-box border-black">
          8
        </div>
      </a>
      <a href="/viewHistoryDateDetail">
        <div class="pill-day-box border-black">
          9
        </div>
      </a>








    </div>
  </div>


</body>
