.view-account-info-container{
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1.5fr 1.5fr 1fr 1fr;
  grid-row-gap: 1vh;
}
.edit-account-info-btn{
  height: 10vh;
}

.edit-account-info-btns, .change-password-btns{
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.view-account-info-email, .view-account-info-username, .view-account-info-dob{
  margin: 0 5%;
}

.view-account-info-text {
  height: 10vh;
}
