<title>View Current Medications</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}
  <p>April 15, 2018</p>
  <ol>
    <li>Pill name # 1</li>
    <li>Pill name # 2</li>
    <li>Pill name # 3</li>
  </ol>



  <div id="btns-container">
    <div class="btn flex-center border-right-black">
      Edit
    </div>
    <div class="btn flex-center">
      <a href="/addNewMed">Add New</a>
    </div>
  </div>
</body>
