<title>View History Date</title>
</head>
<body>
  {{>navigation}}
  {{>nonscript}}
  <p>April 15, 2018</p>
  <ul>
    <li>pillname | 35mg | 10:00 AM</li>
    <li>pillname | 35mg | 10:00 AM</li>
    <li>pillname | 35mg | 10:00 AM</li>
    <li>pillname | 35mg | 10:00 AM</li>
    <li>pillname | 35mg | 10:00 AM</li>
    <li>pillname | 35mg | 10:00 AM</li>
    <li>pillname | 35mg | 10:00 AM</li>
    <li>pillname | 35mg | 10:00 AM</li>
  </ul>


</body>
